button {
    background-image: none;
    box-shadow: none;
    outline: none;
}

input {
    outline: none;
    border: 1px solid red;
}

button:checked, button:hover {
    box-shadow: none;
}

#topBar, #toggle_img, #bg_avatar {
    background-color: #0FD874;
}

#buttonState {
    background-color: #0FD874;
    color: #fff;
    border: none;
    border-radius: 0;
    padding: 0;
}

#toggle_img:hover {
    background-color: #4ce498;
    transition: all 0.2s ease-in-out;
}

#bt_avt_info {
    border: 1px solid #fff;
    background-color: #0FD874;
    padding: 0;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;
}

#bt_avt_info:active, #bt_avt_home:active {
    background-color: #4ce498;
    transition: all 0.2s ease-in-out;
}

#bt_avt_home {
    border: 3px solid #fff;
    background-color: #0FD874;
    color: #fff;
    padding: 0;
    border-radius: 100%;
}

#bt_close {
    background-color: black;
    border: none;
    border-radius: 0;
    opacity: 0.3;
}

.toolbar_menu button:hover {
    background-color: #dfdfdf;
    border: none;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
}

.toolbar_menu button {
    border: none;
    border-radius: 0;
    font-size: 16px;
}

#menuBar, .menuBar_item, .toolbar_menu {
    background-color: #fff;
    padding: 0;
}

#pg_intro {
    background-color: #0FD874;
}

#loading {
    color: #fff;
}

.bg_login {
    background-color: #ffffff;
}

.bt_login_signup {
    background-color: #0FD874;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
}

.bt_login_signup:hover, .bt_st_login:hover {
    background-color: #4ce498;
    transition: all 0.2s ease-in-out;
}

.bt_login_signup:active, .bt_st_login:active {
    background-color: #0eca6c;
    transition: all 0.1s ease-in-out;
}

#bt_logup {
    font-weight: bold;
    font-size: 20px;
    color: #0FD874;
    border: 0;
    background-color: transparent;
}

.bt_st_login {
    background-color: #0FD874;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    border: 0;
    border-radius: 40px;
}

.input_stackLogin {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 40px;
    color: rgb(105, 105, 105);
    font-size: 20px;
    padding: 0px 30px;
}

#bt_forgot_login {
    color: rgb(105, 105, 105);
    font-size: 20px;
    border: 0;
    background-color: transparent;
}

#pg_wellcome {
    background-color: #0FD874;
}

.topPage {
    background-color: #0FD874;
}

.topPage button {
    background-color: #0FD874;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 0;
}

.topPage button:hover {
    background-color: #4ce498;
    transition: all 0.2s ease-in-out;
}

.topPage button:active {
    background-color: #0eca6c;
    transition: all 0.1s ease-in-out;
}

#s_btn_search {
    background-color: #0FD874;
    color: #fff;
    border: 1px solid #0FD874;
    border-radius: 0px 5px 5px 0px;
    /* cursor: pointer; */
}

#s_search {
    background-color: #fff;
    border: 1px solid #0FD874;
    border-radius: 5px 0px 0px 5px;
}

#s_search:focus {
    outline: none;
}

.table_header > button{
    border: 0px;
    color: rgb(0, 0, 0);
    background-color: #0FD874;
    border-radius: 0px;
    font-weight: 400;
    font-size: 16px;
    border-right: 1px solid #fff;
    border-bottom: 2px solid #fff;
}

.table_header > button:last-child{
    border-right: 0px;
}

.bg-white{
    background-color: #fff;
}

.table {
    background-color: #0FD874;
    min-height: 40px;
}

.a_input {
    border: 2px solid rgb(211, 211, 211);
    border-radius: 5px;
    color: rgb(29, 29, 29);
    font-size: 16px;
    padding: 0px 22px;
    outline: none;
}

entry:focus { outline:none; box-shadow: none; border: 2px solid #0FD874; }

.a_label {
    font-size: 16px;
    padding: 0 10px;
    background-color: #fff;
}